.form-modal {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.4);
}

.form-modal__box {
  background-color: white;
  width: 700px;
  min-height: 300px;
  /* max-height: 700px; */
  overflow-y: auto;
  z-index: 1001;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.time-section {
  display: flex;
  width: 100%;
  /* justify-content: space-between; */
}

.time-section > div {
  width: 80%;

}
input[type="time"] {
  width: 95%;
}
