<div class="modal">
  <div class="modal__box">
    <div class="modal__box_header">
      <h2>Book Meeting</h2>
      <button type="button" class="" (click)="closeModal.emit()">X</button>
    </div>
    <form [formGroup]="meetingForm" (ngSubmit)="onSubmit()">
      <div>
        <label>User Name</label>
        <input type="text" formControlName="userName" [ngClass]="{ 'invalid': submitted && f.userName.errors }" readonly/>
        <div *ngIf="submitted && f.userName.errors" class="invalid-feedback">
          <div *ngIf="f.userName.errors.required">userName is required</div>
        </div>
      </div>
      <div class="time-section">
        <div>
          <label>Meeting Date</label>
          <input
            type="date"
            formControlName="date"
            [ngClass]="{ 'invalid': submitted && f.date.errors }"
            min="{{currentDate | date:'yyyy-MM-dd'}}"
            (change)="checkForWeekends($event)"
            />
          <div *ngIf="submitted && f.date.errors" class="invalid-feedback">
            <div *ngIf="f.date.errors.required">Date is required</div>
          </div>
        </div>
        <div>
          <label>Meeting Start Time</label>
          <input type="time" formControlName="timeFrom" [ngClass]="{ 'invalid': submitted && f.timeFrom.errors }"
            min="09:00"
            max="17:30"
            (change)="checkTime($event)"/>
          <div *ngIf="submitted && f.timeFrom.errors" class="invalid-feedback">
            <div *ngIf="f.timeFrom.errors.required">Time is required</div>
          </div>
        </div>
        <div>
          <label>Meeting End Time</label>
          <input type="time" formControlName="timeTo" [ngClass]="{ 'invalid': submitted && f.timeTo.errors }"
            (change)="checkTime($event)"/>
          <div *ngIf="submitted && f.timeTo.errors" class="invalid-feedback">
            <div *ngIf="f.timeTo.errors.required">Time is required</div>
          </div>
        </div>
      </div>
      <div class="invalid-feedback">**time should be between 09:00AM and 06:00PM</div>
      <div *ngIf="availableRoomList.length">
        <label>Meeting Room</label>
        <select formControlName="meetingRoom" [ngClass]="{ 'invalid': submitted && f.meetingRoom.errors }">
          <option *ngFor="let room of availableRoomList" [value]="room.id">{{room.name}}</option>
        </select>
        <div *ngIf="submitted && f.meetingRoom.errors" class="invalid-feedback">
          <div *ngIf="f.meetingRoom.errors.required">Meeting Room is required</div>
        </div>
      </div>
      <div *ngIf="availableRoomList.length">
        <label>Agenda</label>
        <textarea type="text" formControlName="agenda" [ngClass]="{ 'invalid': submitted && f.agenda.errors }"></textarea>
        <div *ngIf="submitted && f.agenda.errors" class="invalid-feedback">
          <div *ngIf="f.agenda.errors.required">Agenda is required</div>
        </div>
      </div>
      <div>
        <button *ngIf="availableRoomList.length" type="submit" class="Btn">Book Meeting</button>
        <button *ngIf="!availableRoomList.length" type="button" class="Btn" (click)="searchForRooms()" >Search Rooms</button>
      </div>
    </form>
  </div>

</div>
