.meeting-list {
  border: 0.5px solid gray;
  border-radius: 5px;
  margin: 20px 0px;
  padding: 10px;
  max-height: 500px;
    overflow: auto;
}

h2 {
  font-weight: 600;
  margin: 10px 0px;
  font-size: 20px;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table td,th {
  text-align: center;
  padding: 10px 20px

}

tr:nth-child(even){
  background-color: #f2f2f2
}

.delete {
  color: red;
  cursor: pointer;
  background: transparent;
  outline: none;
  border: none;
}

.meeting-list__table {
  width: 100%;
  overflow-x:auto;
  padding-bottom: 20px;
}

.meeting-list__room-list {
  width: 50%;
}

@media (max-width: 768px) {
  .meeting-list__room-list {
    width: 100%;
  }
}
