/* You can add global styles to this file, and also import other style files */
body {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


label {
  display: inline-block;
  margin-bottom: .5rem;
}

input, select, textarea {
  display: block;
  width: 100%;
  height: calc(1.5em + .75rem + 2px);
  padding: 5px;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  margin-bottom: 20px;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.Btn:hover {
  border: 1px solid #2196F3;
  color: #2196F3 !important;
  background: #ffffff;
}

.Btn {
  border: 1px solid #1A73E8;
  background: #1A73E8;
  box-shadow: none;
  border-width: 1px;
  padding: 5px;
  font-size: 14px;
  color: #ffffff;
  transition: all 0.5s ease;
  cursor: pointer;
  min-width: 150px;
  font-weight: 500;
  height: calc(1.5em + .75rem + 2px);
}

.invalid {
  border-color: red;
}

.invalid-feedback {
  color: red;
  font-size: small;
  margin-bottom: 20px;
}

.modal {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal__box {
  background-color: white;
  width: 700px;
  min-height: 300px;
  /* max-height: 700px; */
  overflow-y: auto;
  z-index: 1001;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.modal__box_header {
  display: flex;
  justify-content: space-between;
  width: 100%;

}

.modal__box_header button {
  width: 30px;
  height: 30px;
}

.container {
  width: 80vw;
  margin: auto;
  padding: 20px;
}
